html 
    head 
        include include
        title Space Tourism
    body 
        include navbar
        block page
            .home
                .home-main.container
                    .home-section.row
                        .home-content.col-md-6.col-sm-12
                            p.title so, you want to travel to 
                            p.name space 
                            p.desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores ratione reprehenderit eaque maiores explicabo omnis cupiditate officia. Quas esse expedita nulla velit provident deserunt repellat? Iure vitae id aperiam voluptatum? 
                        .home-img.col-md-6.col-sm-12
                            .home-explore 
                                p explore 